language: php

sudo: false

php:
  - '5.6'
  - '7'
  - hhvm
  - nightly

before_script:
  - if [ "$deps" == "low" ]; then composer update --prefer-source --prefer-lowest --prefer-stable; fi
  - if [ "$deps" != "low" ]; then composer install --prefer-source; fi
